<mat-card appearance="outlined">
  <mat-card-content>
    <mat-toolbar color="primary">
      Courses Avaliable
    </mat-toolbar>

    <div class="column-flex mat-elevation-z8">
      <ng-container *ngIf="(courses$ | async) as courses; else loading">
        <app-courses-list
          [courses]="courses"
          (add)="onAdd()"
          (edit)="onEdit($event)"
          (remove)="onRemove($event)">
        </app-courses-list>
      </ng-container>

      <ng-template #loading>
        <div class="loading-spinner">
          <mat-spinner></mat-spinner>
        </div>
      </ng-template>
    </div>
  </mat-card-content>
</mat-card>
