<mat-table [dataSource]="courses" class="mat-table">

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Course</mat-header-cell>
    <mat-cell *matCellDef="let course"> {{ course.name }}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="category">
    <mat-header-cell mat-header-cell *matHeaderCellDef> Category</mat-header-cell>
    <mat-cell *matCellDef="let course"> {{ course.category }}
      <mat-icon aria-hidden="false" aria-label="Course Category"
                fontIcon="{{ course.category | category }}"></mat-icon>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef class="action-column">
      <button
        mat-mini-fab
        color="accent"
        (click)="onAdd()"
        aria-label="Add Course"
        class="action-column-header">
        <mat-icon>add</mat-icon>
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let course" class="action-column">
      <button
        mat-icon-button
        color="primary"
        (click)="onEdit(course)"
        aria-label="Edit Course">
        <mat-icon>edit</mat-icon>
      </button>
      <button
        mat-icon-button
        color="warn"
        (click)="onDelete(course)"
        aria-label="Remove Course">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
